body {
	padding-top: 160px;
	padding-bottom: 40px;
	background: url('../img/grey.png') fixed;
}

a {
    color: #3b73af;
}
span.handle { cursor: move;}
h1,h2,h3,h4,h5 {
    line-height:1.25;
    font-weight: normal;
    color: #555;
}
.page-header {
    margin:0;
    margin-bottom:15px;
}
h1 {
    font-size:24px;
}

h2 {
    font-size:20px;
}

h3 {
    font-size:18px;
}
.label {
    font-weight:normal;
}
.upper {
    text-transform: uppercase;
}

.navbar .brand i {
    color: #E75954;
}

.hero-unit {
	border: 1px solid #DDD;
	background: #FFF;
    box-shadow: 0px 3px 10px rgba(10, 10, 10, 0.1);
}

.hero-unit p {
	font-size:20px;
	color: #666;
}
.hongo {
    background: #FFF url('../img/bg.jpg') no-repeat bottom;
    height: 250px;
}
.hero-btn .btn {
    width: 170px;
    margin-bottom:10px;
}
.orange {
    background:#F9832C;
}

.red {
    background: #D84735;
}

.icon-highlight {
    color: #E75954;
}

.fa-big {
    font-size:200px;
}

.bordered {
	padding: 20px;
    margin-bottom:20px;
	border-radius:5px;
	border:1px solid #DDD;
	background: #FFF;
    box-shadow: 0px 3px 10px rgba(10, 10, 10, 0.1);
}

hr {
	border-top:1px solid #DDD;
}

footer {
	margin-top:20px;
	text-align: center;
	color: #888;
}

legend {
    margin-bottom:0;
}

.dropdown-menu li a {
    margin: 5px 8px;
    border-radius: 5px;
    padding: 5px 15px;
}

.dropdown li a:hover {
    background: #DDD;
    color: #333;
}

.drodwon-menu li a:hover {
    background: #CCC ;
    color: #FFF;
}

.banner {
    position: fixed;
    top:0;
    display: block;
    width: 100%;
    background: #B38455;
    height: 100px;
}

.navbar {
    margin-top:100px;
}

@media (max-width: 767px) {
  .navbar { margin-top: 0;}
  .banner { display: none;}
}

.navbar-isc .navbar-inner {
  background-color: #79615D;
  background-image: -moz-linear-gradient(top, #79615D, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79615D), to(#111111));
  background-image: -webkit-linear-gradient(top, #79615D, #111111);
  background-image: -o-linear-gradient(top, #79615D, #111111);
  background-image: linear-gradient(to bottom, #79615D, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-isc .brand,
.navbar-isc .nav > li > a {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-isc .brand:hover,
.navbar-isc .nav > li > a:hover,
.navbar-isc .brand:focus,
.navbar-isc .nav > li > a:focus {
  color: #ffffff;
}

.navbar-isc .brand {
  color: #999999;
}

.navbar-isc .navbar-text {
  color: #999999;
}

.navbar-isc .nav > li > a:focus,
.navbar-isc .nav > li > a:hover {
  color: #ffffff;
  background-color: transparent;
}

.navbar-isc .nav .active > a,
.navbar-isc .nav .active > a:hover,
.navbar-isc .nav .active > a:focus {
  color: #ffffff;
  background-color: #111111;
}

.navbar-isc .navbar-link {
  color: #999999;
}

.navbar-isc .navbar-link:hover,
.navbar-isc .navbar-link:focus {
  color: #ffffff;
}

.navbar-isc .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

.navbar-isc .nav li.dropdown.open > .dropdown-toggle,
.navbar-isc .nav li.dropdown.active > .dropdown-toggle,
.navbar-isc .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #111111;
}

.navbar-isc .nav li.dropdown > a:hover .caret,
.navbar-isc .nav li.dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-isc .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.navbar-isc .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-isc .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-isc .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-isc .navbar-search .search-query {
  color: #ffffff;
  background-color: #515151;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.navbar-isc .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

.navbar-isc .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

.navbar-isc .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

.navbar-isc .navbar-search .search-query:focus,
.navbar-isc .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.navbar-isc .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  *background-color: #040404;
  background-image: -moz-linear-gradient(top, #151515, #040404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
  background-image: -webkit-linear-gradient(top, #151515, #040404);
  background-image: -o-linear-gradient(top, #151515, #040404);
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-repeat: repeat-x;
  border-color: #040404 #040404 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-isc .btn-navbar:hover,
.navbar-isc .btn-navbar:focus,
.navbar-isc .btn-navbar:active,
.navbar-isc .btn-navbar.active,
.navbar-isc .btn-navbar.disabled,
.navbar-isc .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #040404;
  *background-color: #000000;
}

.navbar-isc .btn-navbar:active,
.navbar-isc .btn-navbar.active {
  background-color: #000000 \9;
}